version: 2
updates:
  - package-ecosystem: bundler
    directory: /rails_cron
    schedule:
      interval: daily
  - package-ecosystem: bundler
    directory: /docs
    schedule:
      interval: daily
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
